

<div class="toolbar" role="banner">
    Welcome To The BDDT
</div>

<div class="content" role="main">

<svg class="spacer"></svg>
  <div class="link-container">
    <a class="link" target="_self" rel="noopener" href="upload.html">
      <span>Upload Document</span>
    </a>
  </div>

  <div class="link-container">
    <a class="link" target="_self" rel="noopener" href="directory.html">
      <span>View Documents</span>
    </a>
  </div>
  <svg class="spacer"></svg> 
  <footer>
      Copyright&copy; 2019 BDDT
  </footer>
</div>  